#rooms{
  display: flex;
}

#room0 {
  background-color: rgb(230, 230, 245);
  width: 140px;
  height: 80px;
  border: 1px solid black;

}

#room1 {
  background-color: rgb(230, 230, 245);
  width: 140px;
  height: 80px;
  border: 1px solid black;
  
}

#room2 {
  background-color: rgb(230, 230, 245);
  width: 140px;
  height: 80px;
  border: 1px solid black;
  margin-top: 100px;
  
}

#room3 {
  background-color: rgb(230, 230, 245);
  width: 140px;
  height: 80px;
  border: 1px solid black;
  
}

#room4 {
  background-color: rgb(230, 230, 245);
  width: 140px;
  height: 80px;
  border: 1px solid black;
  
}

#room5 {
  background-color: rgb(230, 230, 245);
  width: 140px;
  height: 80px;
  border: 1px solid black;
  
}

#room6 {
  background-color: rgb(230, 230, 245);
  width: 140px;
  height: 80px;
  border: 1px solid black;
  
}

#room7 {
  background-color: rgb(230, 230, 245);
  width: 140px;
  height: 80px;
  border: 1px solid black;
  
}

#room8 {
  background-color: rgb(230, 230, 245);
  width: 140px;
  height: 80px;
  border: 1px solid black;
  
}

#room9 {
  background-color: rgb(230, 230, 245);
  width: 140px;
  height: 80px;
  border: 1px solid black;
  
}

#room10 {
  background-color: rgb(230, 230, 245);
  width: 140px;
  height: 80px;
  border: 1px solid black;
  
}


