.App {
	margin: 0 auto;
	text-align: center;
	background-color: gainsboro;
}

.map {
	width: 880px;
	height: 800px;
	margin: 0 auto;
}

.map-container {
	display: flex;
}
h1 {
	margin: 0;
	padding-top: 25px;
}

.map-info {
	width: 200px;
	margin: 10% 2%;
}

.current-room-info {
	width: 200px;
}

.current-room-info p {
	font-size: 12px;
}
.room {
	background-color: forestgreen;
	border: 1px solid black;
	width: 25px;
	height: 25px;
	display: inline-block;
	margin: 5px;
}
.row {
}

.north-connection {
	border-top: 10px solid black;
	border-width: thin;
}

.south-connection {
	border-bottom: 10px solid black;
}
