.App {
	margin: 0 auto;
	text-align: center;
	border: 1px solid yellow;
}

.map {
	width: 880px;
	height: 800px;
	border: 1px solid brown;
	margin: 0 auto;
}

.room {
	background-color: forestgreen;
	border: 1px solid black;
	width: 25px;
	height: 25px;
	display: inline-block;
	margin: 5px;
}
.row {
}

.north-connection {
	border-top: 10px solid black;
	border-width: thin;
}

.south-connection {
	border-bottom: 10px solid black;
}
